*.pdf
#c,c++
*.out
*.o
*.exe
obj/
Game\ Theory
*.tmp
*.docx
#videos
*.mkv
*.mp4
#xv6 dir
_*
*.asm
*.d
*~
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernel
kernelmemfs
mkfs
.gdbinit
